$black-100:#18181B;
$black-50:#252532;
$grey-1:#B0B0B2;
$grey-2:#D1D1D1;
$white:#FFFFFF;

$color-blue:#19B5F1;
$color-purple:#CA6AEB;
$color-success:#00C566;
$color-error:#FF4747;
$color-warning:#FACC15;

$main-gradient: linear-gradient(90deg, $color-blue 0%, $color-purple 100%);
$black-glass: rgba(37, 37, 50, 0.7);

$font-main: 'Chakra Petch', sans-serif;

